@import "tailwindcss";

@layer components {
  .sidebar-theme {
    @apply transition duration-300 ease-in-out bg-white/80 dark:bg-slate-900/80 backdrop-blur-xl border-r border-slate-200/50 dark:border-slate-700/50 flex flex-col relative z-10;
  }
}